{% extends "base.html" %}
{% load static %}

{% block title %}Mock Tests - Viksit47{% endblock %}

{% block content %}

<!-- Start Popular Courses -->
<div id="courses" class="popular-courses default-padding without-carousel">
    <div class="container">
        <div class="row">
            <div class="site-heading text-center">
                <div class="col-lg-8 offset-lg-2">
                    <h2>Mock Tests</h2>
                </div>
            </div>
        </div>
        <div class="popular-courses-items">
            <div class="row">

                <!-- Single Item -->
                <div class="col-lg-4 col-md-6 equal-height">
                    <div class="item" style="background-color: #002147;">
                        <div class="thumb">
                            <a href="#"><img src="{% static 'img/test/agronomy.jpg' %}" alt="Thumb"></a>
                        </div>
                        <div class="info">
                            <div class="author-info">
                                <div class="others">
                                    <div class="rating">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <span>4.5</span>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="#">Agronomy Mock Test</a></h4>
                            <div class="bottom-info">
                            {% if user.is_authenticated %}
                              <a href="{% url 'mock' %}">Take a Test</a>
                           {% else %}
                              <a href="{% url 'login' %}?next={% url 'mock' %}">Login to Take Test</a>
                          {% endif %}
                          </div>
                        </div>
                    </div>
                </div>

                <!-- Plant Science -->
                <div class="col-lg-4 col-md-6 equal-height">
                    <div class="item">
                        <div class="thumb">
                            <a href="#"><img src="{% static 'img/test/2.jpg' %}" alt="Thumb"></a>
                        </div>
                        <div class="info">
                            <div class="author-info">
                                <div class="others">
                                    <div class="rating">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <span>5</span>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="#">Plant Science Mock Test</a></h4>
                             <div class="bottom-info">
                            {% if user.is_authenticated %}
                              <a href="{% url 'mock' %}">Take a Test</a>
                           {% else %}
                              <a href="{% url 'login' %}?next={% url 'mock' %}">Login to Take Test</a>
                          {% endif %}
                          </div>
                        </div>
                    </div>
                </div>

                <!-- Plant Pathology -->
                <div class="col-lg-4 col-md-6 equal-height">
                    <div class="item">
                        <div class="thumb">
                            <a href="#"><img src="{% static 'img/test/3.jpg' %}" alt="Thumb"></a>
                        </div>
                        <div class="info">
                            <div class="author-info">
                                <div class="others">
                                    <div class="rating">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <span>4.9</span>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="#">Plant Pathology Mock Test</a></h4>
                            <div class="bottom-info">
                            {% if user.is_authenticated %}
                              <a href="{% url 'mock' %}">Take a Test</a>
                           {% else %}
                              <a href="{% url 'login' %}?next={% url 'mock' %}">Login to Take Test</a>
                          {% endif %}
                          </div>
                        </div>
                    </div>
                </div>

                <!-- Entomology -->
                <div class="col-lg-4 col-md-6 equal-height">
                    <div class="item">
                        <div class="thumb">
                            <a href="#"><img src="{% static 'img/test/4.jpg' %}" alt="Thumb"></a>
                        </div>
                        <div class="info">
                            <div class="author-info">
                                <div class="others">
                                    <div class="rating">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <span>4.4</span>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="#">Entomology Mock Test</a></h4>
                            <div class="bottom-info">
                            {% if user.is_authenticated %}
                              <a href="{% url 'mock' %}">Take a Test</a>
                           {% else %}
                              <a href="{% url 'login' %}?next={% url 'mock' %}">Login to Take Test</a>
                          {% endif %}
                          </div>
                        </div>
                    </div>
                </div>

                <!-- Soil Science -->
                <div class="col-lg-4 col-md-6 equal-height">
                    <div class="item">
                        <div class="thumb">
                            <a href="#"><img src="{% static 'img/test/5.jpeg' %}" alt="Thumb"></a>
                        </div>
                        <div class="info">
                            <div class="author-info">
                                <div class="others">
                                    <div class="rating">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <span>5</span>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="#">Soil Science Mock Test</a></h4>
                           <div class="bottom-info">
                            {% if user.is_authenticated %}
                              <a href="{% url 'mock' %}">Take a Test</a>
                           {% else %}
                              <a href="{% url 'login' %}?next={% url 'mock' %}">Login to Take Test</a>
                          {% endif %}
                          </div>
                        </div>
                    </div>
                </div>

                <!-- Genetic Breeding -->
                <div class="col-lg-4 col-md-6 equal-height">
                    <div class="item">
                        <div class="thumb">
                            <a href="#"><img src="{% static 'img/test/6.jpg' %}" alt="Thumb"></a>
                        </div>
                        <div class="info">
                            <div class="author-info">
                                <div class="others">
                                    <div class="rating">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <span>4.6</span>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="#">Genetic Breeding Mock Test</a></h4>
                             <div class="bottom-info">
                            {% if user.is_authenticated %}
                              <a href="{% url 'mock' %}">Take a Test</a>
                           {% else %}
                              <a href="{% url 'login' %}?next={% url 'mock' %}">Login to Take Test</a>
                          {% endif %}
                          </div>
                        </div>
                    </div>
                </div>

                <!-- Seed Science -->
                <div class="col-lg-4 col-md-6 equal-height">
                    <div class="item">
                        <div class="thumb">
                            <a href="#"><img src="{% static 'img/test/7.webp' %}" alt="Thumb"></a>
                        </div>
                        <div class="info">
                            <div class="author-info">
                                <div class="others">
                                    <div class="rating">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <span>5</span>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="#">Seed Science Mock Test</a></h4>
                            <div class="bottom-info">
                            {% if user.is_authenticated %}
                              <a href="{% url 'mock' %}">Take a Test</a>
                           {% else %}
                              <a href="{% url 'login' %}?next={% url 'mock' %}">Login to Take Test</a>
                          {% endif %}
                          </div>
                        </div>
                    </div>
                </div>

                <!-- Plant Breeding -->
                <div class="col-lg-4 col-md-6 equal-height">
                    <div class="item">
                        <div class="thumb">
                            <a href="#"><img src="{% static 'img/test/8.jpg' %}" alt="Thumb"></a>
                        </div>
                        <div class="info">
                            <div class="author-info">
                                <div class="others">
                                    <div class="rating">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <span>4.6</span>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="#">Plant Breeding Mock Test</a></h4>
                             <div class="bottom-info">
                            {% if user.is_authenticated %}
                              <a href="{% url 'mock' %}">Take a Test</a>
                           {% else %}
                              <a href="{% url 'login' %}?next={% url 'mock' %}">Login to Take Test</a>
                          {% endif %}
                          </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Popular Courses -->

{% endblock content %}
